<div class="index-view">

  <div class="top-text">
    <h1 id="app-heading"><span style="color: #D5C4FB">COCKTAIL</span> LIBRARY</h1>
  </div>

  <!-- Slideshow container -->

  <div class="slideshow-container">

    <% @cocktails.each do |cocktail| %>
      <div class="mySlides fade">
        <%= cocktail.photo.attached? ? cl_image_tag(cocktail.photo.key, style: "width: 400px; display: block; margin: auto;") : image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU', style: "width: 300px; display: block; margin: auto;") %>

        <div class="text"><h3><%= cocktail.name %></h3></div>
      </div>
    <% end %>

  </div>

  <br>

  <div style="text-align:center">
    <% @cocktails.each_with_index do |cocktail, index| %>
      <span class="dot" onclick="currentSlide(<%= index + 1 %>)"></span>
    <% end %>
  </div>


  <div id="cocktail-index">
    <div class="index-head d-flex justify-content-start">
      <h2>ALL COCKTAILS </h2>
      <div class="add-btn">
        <%= link_to '+', 'cocktails/new', style:"text-decoration: none; color: #101115;" %>
      </div>
    </div>

    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="cocktail-card d-flex">
          <div class="card-left d-flex justify-content-center" style="background-image: url('<%= cocktail.photo.attached? ? cl_image_path(cocktail.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>')">
          <%= link_to '', cocktail_path(cocktail), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-xmark delete-icon" %>
          </div>

          <div class="card-right">
            <h3><%= link_to cocktail.name.upcase, cocktail_path(cocktail), style: "text-decoration:none; color: #E9E9EA;" %></h3>
            <p class="text-start"><%= cocktail.cocktaildescription[0..200] %>... <%= link_to 'more',cocktail_path(cocktail), style: "text-decoration: none; color: #D5C4FB;" %> </p>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
