<div class="index-view d-flex">

  <div class="left-side">
    <%= image_tag("cocktails.jpg") %>
  </div>

  <div class="right-side">
    <div class="top-text">
      <h1>COCKTAIL LIST</h1>
      <h2>Easy platform to compile a list of your favourite cocktails and their recipes</h2>

    </div>

    <div class="add-btn">
      <%= link_to 'Add New Cocktail', 'cocktails/new', style:"text-decoration: none; color: white;" %>
    </div>

    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="cocktail-card d-flex">
          <div class="card-left d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cocktail.photo.attached? ? cl_image_path(cocktail.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>')">
            <div class="">
              <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-decoration-none text-white" %></h3>
              <%= link_to '', cocktail_path(cocktail), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash" %>
            </div>
          </div>
          <div class="card-right">
          <p>abc</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
