<div class="show-view ">

  <div class="top-text">
    <h2><%= @cocktail.name.upcase %></h2>
  </div>

  <div class="show-content">

    <div class="show-left">
      <div class="show-img">
        <%= cl_image_tag @cocktail.photo.key %>
      </div>
    </div>

    <div class="show-right">
      <div class="question-1">
        <% if @cocktail.name.start_with?('A' || 'a') %>
          <h4>What is an <%= @cocktail.name %>?</h4>
        <% else %>
          <h4>What is a <%= @cocktail.name %>?</h4>
        <% end %>
      </div>
      <div id="description">
        <p><%= @cocktail.cocktaildescription %></p>
      </div>

      <div class="question-2">
        <h4>Ingredients</h4>
        <%= link_to '', new_cocktail_dose_path(@cocktail), class: "fa-solid fa-plus", id: "plus" %>
      </div>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %>: <%= dose.description %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
