
<div class="show-view d-flex">

  <div class="left-side">
    <%= cl_image_tag @cocktail.photo.key %>
  </div>

  <div class="right-side">
    <h1>Cocktails#show</h1>
    <p>Find me in app/views/cocktails/show.html.erb</p>
    <div>
      <%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail) %>
    </div>
    <h2><%= link_to @cocktail.name, cocktail_path(@cocktail), class: "text-decoration-none " %></h2>
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.ingredient.name %>: <%= dose.description %></p>
    <% end %>
  </div>
</div>
