<div class="show-view">

  <div class="top-text">
    <h2><%= @cocktail.name.upcase %></h2>
  </div>

  <div class="show-content">

    <div class="show-left">
      <div class="show-img">

        <%= @cocktail.photo.present? ? cl_image_tag(@cocktail.photo.key) : "No image available" %>
      </div>
    </div>

    <div class="show-right">
      <div class="question-1">
        <% if @cocktail.name.start_with?('A' || 'a') %>
          <h4>WHAT IS AN <%= @cocktail.name.upcase %>?</h4>
        <% else %>
          <h4>WHAT IS A <%= @cocktail.name.upcase %>?</h4>
        <% end %>
      </div>
      <div id="description">
        <p><%= @cocktail.cocktaildescription %></p>
      </div>

      <div class="question-2">
        <h4>INGREDIENTS</h4>
      </div>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %>: <%= dose.description %></li>
        <% end %>
        <%= link_to '', new_cocktail_dose_path(@cocktail), class: "fa-solid fa-plus", id: "plus" %>
      </ul>
    </div>
  </div>
</div>
